@tailwind base;
@tailwind components;
@tailwind utilities;


/* General Elements */

body {
  @apply
  p-0
  m-0
  text-lg
  font-poppins
  bg-gray-300
}

h1 {
  @apply
  m-0
  text-2xl
  md:text-4xl
  font-normal
  py-5
}

h2 {
  @apply
  text-4xl  
  my-6
}

nav a {
  @apply
  text-gray-400
  
}

.nav-bar{
  @apply
  fixed 
  top-0
  bottom-0
  left-0
  right-0
  gap-3
  pt-10
  pl-8
  bg-[#222]
  sm:flex-row 
  sm:space-x-3 
  sm:static 
  sm:top-0 
  sm:pt-0
  sm:pl-0
}

/* Layout Classes */

.centered-box {
  @apply
  max-w-[1200px] 
  mx-auto
  px-5
}

.flex-col-center {
  @apply
  flex 
  flex-col 
  justify-center
}

.product-grid {
  @apply
  gap-10 
  mt-9
}

.grid-12-8 {
  @apply
  flex 
  flex-col
  sm:grid
  sm:grid-cols-[1.2fr,.8fr]
}

.grid-8-12 {
  @apply
  flex 
  flex-col
  sm:grid
  sm:grid-cols-[.8fr,1.2fr] 
}

.cart-img-box {
  @apply
  w-[100px] 
  h-[100px] 
  p-2 
  border 
  border-gray-200 
  rounded-xl 
  flex 
  justify-center 
  items-center
}

.product-grid {
  @apply
  grid
  sm:grid-cols-2
  md:grid-cols-3
  lg:grid-cols-4
  xl:grid-cols-5
  gap-9
}

.category-grid {
  @apply
  grid 
  sm:grid-cols-2
  md:grid-cols-4
  gap-5
}

/* Button Classes*/

.btn {
  @apply
  text-sm
  border-[1px]
  py-1
  mr-2
  rounded-lg
  text-white
}

.btn-cart {
  @apply
  my-2
  px-3
  text-black
  bg-white
  border-white
}

.btn-read {
  @apply
  bg-transparent
  px-6
}

.btn-item {
  @apply
  my-0
  px-3
  mr-0
  bg-transparent
  text-[#263429]
  border-[#263429]
}

.btn-payment {
  @apply
  block 
  w-full 
  bg-black 
  rounded-lg 
  text-white 
  py-2
  mt-5
}

.btn-productpage {
  @apply
  bg-gray-900
  px-3
  py-2
  self-center
}

/* Table */

th {
  @apply
  text-left
  text-[#ccc]
  uppercase
  font-semibold
  text-sm
}

/* Input */

.input-order {
  @apply
  w-full
  p-1
  mb-2
  border 
  border-gray-300
  rounded-md
}
